html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

#userpage {
   width: 100%;
   height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column
}
.box1 {
  width: 100%;
  height: 500px;
  position: relative;
  box-sizing: border-box;
}

.box2 {
  background: url(../img/user-header.jpg) center center / cover no-repeat;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover; 
}

.box3 {
  display: block;
  position: relative;
  padding-top: 250px;
}

.box4 {
  position: absolute;
  font-family:'Dancing Script', cursive;
  color:  rgb(0, 0, 0);
  font-size: 7em;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.btn {
  background: rgb(133, 199, 197);
  border: 2px solid #737B7D;
  box-sizing: border-box;
  color: white;
  height: 35px;
}

table {
  width:60%;
  margin:auto;
  text-align:center;
}
  
.user-main {
      width:60%;
      margin:auto;
      text-align:center;
      background-color:#FFFAFA;
      margin-top: 50px;
      margin-bottom: 50px;
}
