table {
	width: 60%;
	margin: auto;
	text-align: center;
}

#userpage {
	width: 100%;
	height: 100%;
	text-align: center;
}

.main-container {
	display: flex;
	flex-direction: column
}

.box1 {
	width: 100%;
	height: 500px;
	position: relative;
	box-sizing: border-box;
}

.box2 {
	background: url(../img/user-header.jpg) center center/cover no-repeat;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.box3 {
	display: block;
	position: relative;
	padding-top: 250px;
}

.box4 {
	position: absolute;
	font-family: 'Dancing Script', cursive;
	color: rgb(0, 0, 0);
	font-size: 7em;
	width: 100%;
	text-align: center;
	font-weight: 600;
}

.btn {
	background: rgb(133, 199, 197);
	border: 2px solid #737B7D;
	box-sizing: border-box;
	color: white;
	height: 35px;
}

.main-content {
	width: 100%;
	margin: auto;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.content-container {
  width: 60%;
  margin: auto;
  text-align: center;
  border: 2px solid #C4C4C4;
}

.user-header {
	width: 100%;
	margin: auto;
	text-align: center;
	background-color: rgb(250, 247, 240);
	margin-bottom: 50px;
}

.user-container {
	display: flex;
	padding: 10px 0px 10px 0px;
}

.content-main {
  margin-bottom: 100px;
}

.content-table {
}

.content-table-tr {
	background-color: rgb(250, 247, 240);
	height: 5em;
	border-bottom: 2px solid #C4C4C4;
}

.content-table-th {
  text-align: center;
}

.content-table-btn {
  font-size: 10px;
  font-weight: bold;
  padding: 2px 10px;
  background: #b8ecaa;
  color: #2d2d2d;
  border-radius: 10px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.image-box {
	width: 15%;
	padding: 20px 0px 0px 0px;
}

.user-img {
	border-radius: 180px;
	max-width: 100%;
	height: auto;
	margin-left: 1em;
}

.info-box {
	display: block;
	width: 20%;
}

.recipe-box {
	display: block;
	width: 20%;
	border-radius: 15px;
	border: 2px solid #A6A6A6;
	margin-right: 1em;
}

.follower-box {
	display: block;
	width: 20%;
	border-radius: 15px;
	border: 2px solid #A6A6A6;
	margin-right: 1em;
}

.following-box {
	display: block;
	width: 20%;
	border-radius: 15px;
	border: 2px solid #A6A6A6;
	margin-right: 1em;
}

.modal-table {
	display: table;
	position: relative;
	width: 100%;
	height: 100px;
}

.modal-cell {
	display: table-cell;
	vertical-align: middle;
}

.modal-cell-btn {
	font-size: 10px;
	font-weight: bold;
	padding: 5px 15px;
	background: #f2dede;
	color: #000;
	border-radius: 10px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.box {
	display: block;
	margin: 0 auto;
	padding: 10px;
	width: 100px
}

.footbox {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    position: relative;
    margin-top: auto;
    padding: 1em 0;
    border-top: 1px solid #e2e2e2;
    font-size: 1rem;
    text-align: center;
    color: black;
    background-color: rgb(159, 163, 155);
}

.content-main-container {
  display: flex;
  padding: 10px 0px 10px 0px;
}