<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="BasketDao">
  
  <resultMap type="basket" id="BasketMap">
    <id column="bkno"           property="basketNo"/>
    <result column="amount"  property="amount"/>
    <result column="uno"      property="userNo"/>
    
    <association property="products" javaType="product">
      <id column="product_no"    property="productNo"/>
      <result column="product_content"    property="content"/>
      <result column="product_price"    property="price"/>
      
    </association>
  </resultMap>

  <select id="findAll" resultMap="BasketMap" parameterType="string">
    select 
      b.bkno, 
      p.pno product_no, 
      p.content product_content,
      p.price product_price,
      b.amount, 
      b.uno
    from
      oi_basket b
      inner join oi_product p
      on b.bkno=p.pno
  </select>
  
  <insert id="insert" parameterType="basket"
        useGeneratedKeys="true" keyColumn="no" keyProperty="no">
    insert into oi_basket(amount,pno)
    values(#{amount},#{products.no})
  </insert>
  
</mapper>






