<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.oijoa.dao.FoodDao">
  
  <resultMap type="food" id="FoodMap">
    <id column="fno"           property="foodNo"/>
    <result column="rno"    property="recipeNo"/>
    <result column="name"    property="name"/>
    <result column="amount"    property="amount"/> 
  </resultMap>

  <select id="findAll" resultMap="FoodMap" parameterType="string">
    select 
      fno,
      rno,
      name,
      amount
      from oi_food 
  </select>

  <select id="findByRecipeNo" resultMap="FoodMap" parameterType="int">
    select 
      fno,
      rno,
      name,
      amount
    from oi_food 
    where rno = #{recipeNo} 
  </select>
  
  <insert id="insert" parameterType="food">
  	insert into oi_food(rno,name,amount)
  	values(#{recipeNo}, #{name}, #{amount})
  </insert>
  
  <update id="update" parameterType="food">
   update oi_food set
      name = #{name},
      amount = #{amount}
    where rno = #{recipeNo}
  </update>
  
  <delete id="delete" parameterType="int">
   delete from oi_food
   where rno = #{recipeNo}
  </delete>
</mapper>






