<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="MyBuyListDao">
  
  <resultMap type="MyBuyList" id="MyBuyListMap">
  	<id column="odno"           property="orderNo"/>
    <result column="dcno"      property="deliveryCompanyNo"/>
    <result column="name"      property="deliveryCompanyName"/>
    <result column="stat"   property="status"/>
    <result column="odt"   property="orderDate"/>
    <result column="postno"   property="postNo"/>
    <result column="addr"   property="address"/>
    <result column="det_addr"   property="detailAddress"/>
  	<result column="photo"   property="photo"/>
  	<result column="stat"   property="status"/>
  
  </resultMap>
  <select id="findByUnoOno" resultMap="MyBuyListMap" parameterType="com.oijoa.domain.MyBuyList">
    select 
      ol.olno,
      ol.pno,
      p.pno product_no, 
      p.content product_content,
      o.odno order_no,
      o.uno user_no,
      u.uno user_no,
      u.name user_name,
      ol.amount,
      ol.discount,
      ol.price
    from
      oi_order_list ol
      inner join oi_product p
        on ol.pno=p.pno
      inner join oi_order o 
         on ol.odno=o.odno
      inner join oi_user u
        on o.uno=u.uno
    where o.uno = #{userNo.userNo}
  </select>
  
</mapper>






