<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="OrderDao">
  
  <resultMap type="order" id="OrderMap">
    <id column="odno"           property="orderNo"/>
    <result column="pno"  property="paymentNo"/>
    <result column="dcno"      property="deleveryCompanyNo"/>
    <result column="pno"   property="postNo"/>
    <result column="stat"   property="status"/>
    
    <association property="user" javaType="user">
      <id column="user_no"    property="userNo"/>
      <result column="user_name"     property="name"/>
    </association>
  </resultMap>

  <select id="findAll" resultMap="OrderMap" parameterType="string">
    select 
      odno, 
      uno, 
      pno, 
      dcno, 
      pno,
      stat
      from oi_order
  </select>
  
</mapper>






