<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="OrderListDao">
  
  <resultMap type="orderList" id="OrderListMap">
    <id column="olno"           property="orderListNo"/>
    <result column="amount"      property="amount"/>
    <result column="discount"   property="discount"/>
    <result column="price"   property="price"/>
    
    <association property="orderNo" javaType="order">
      <id column="order_no"        property="oredrNo"/>
      <association property="userNo" javaType="user">
        <id column="user_no"        property="userNo"/>
        <result column="user_name"  property="name"/>
      </association>
    </association>
    
<!--       <association property="userNo" javaType="user">
        <id column="order_no"        property="userNo"/>
        <result column="order_name"  property="name"/>
      </association>  -->

    <association property="product" javaType="product">
       <id column="product_no"          property="no"/>
      <result column="product_content"    property="content"/>
    </association>
  </resultMap>

  <select id="findAll" resultMap="OrderListMap" parameterType="string">
    select 
      olno, 
      odno, 
      pno, 
      amount, 
      discount,
      price
      from oi_order_list
  </select>
  
  <select id="findByUserNo" resultMap="OrderListMap" parameterType="int">
    select 
      ol.olno,
      ol.pno,
      p.pno product_no, 
      p.content product_content,
      o.odno order_no,
      o.uno user_no,
      ol.amount,
      ol.discount,
      ol.price
    from
      oi_order_list ol
      inner join oi_product p
        on ol.pno=p.pno
      inner join oi_order o 
         on ol.odno=o.odno
    where o.uno = #{writer.userNo}
  </select>
</mapper>






