body,
html {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

html {
    background: #333333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
}
body {
    background-size: cover;
    background-position: center center;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.5s;
    
    /* display: flex;
    align-items: center;
    justify-content: center;  */
}

a {
    text-decoration: none !important; 
    color:black !important;
}


#background-photo {
    background-size: cover;
    /* min-height: 100%;
    background-position: center;
    border: 0;
    padding: 0;  */
}

.bgimage {
    background: url("../img/bg/1.jpg") center center;
}

.search-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.padding {
    padding: 25rem !important;
}


body {
    background-color: #f8fafe
}

.domain-form .form-group {
    
    padding: 20px;
}
.form-group {
    border-radius: 10px !important; 
}
.domain-form .form-group input {
    /* height: 70px !important; */
    border: transparent;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.form-control {
    height: 52px !important;
    background: #fff !important;
    color: #3a4348 !important;
    font-size: 18px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.px-4 {
    padding-left: 1.5rem !important;
}

.domain-form .form-group .search-domain {
    background: #009970;
    border: 2px solid #009970;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.domain-price span {
    color: #dfdfdf;
    margin: 0 10px;
}

.domain-price span small {
    color: #24bdc9;
}

