/*--------------------------------------------------------------
# Hero Section - 상단 이미지 부분
--------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 90vh;
	background-size: cover;
	position: relative;
  }
  .img-add{
	background: url("../img/egg.jpg") center center;
  }

  #hero .container {
	padding: 200px;
  }
  
  #hero:before {
	content: "";
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
  }
  
  #hero h1 {
	margin: 0 0 10px 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	color: #fff;
  }
  
  #hero h2 {
	color: #eee;
	margin-bottom: 40px;
	font-size: 15px;
	font-weight: 500;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0.5px;
	text-transform: uppercase;
  }
  
  #hero .btn-get-started {
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 28px;
	border-radius: 50px;
	transition: 0.5s;
	margin: 10px;
	border: 2px solid #fff;
	color: #fff;
  }
  
  #hero .btn-get-started:hover {
	background: #009970;
	border: 2px solid #009970;
  }
  
  @media (min-width: 1024px) {
	#hero {
	  background-attachment: fixed;
	}
  }
  
  @media (max-width: 768px) {
	#hero {
	  height: 100vh;
	}
	#hero .container {
	  padding-top: 60px;
	}
	#hero h1 {
	  font-size: 32px;
	  line-height: 36px;
	}
  }


/*--------------------------------------------------------------
- 중간 내용 부분
--------------------------------------------------------------*/


@charset "UTF-8";

.main-file-style{
	width:500px;
}

.input-sm{
	width:200px;
}

.level-box {
	text-align: center;
	padding:5px 0;
	
}

.flex-style {
	display: flex;
	justify-content: space-around;
	padding:20px 0;
} 
 
.meta-input-style {
		display: flex;
		justify-content: space-between;
}


.meta-input-size {
	width:300px;
}
 
#inputMetaContainer {
	text-align: center;
	margin: 0 auto;
}

.btn-center {
display: flex;
justify-content: center;  
}

.step-input {
display:flex;
}

.step-input{
	display: flex;
	justify-content: center;
	padding:10px 0;
}
.input-group-text {
	background: #009970;
    color: #fff;	
}

#btnAddMeta {
	margin-top: 30px;
}

#btnAddStep {
	margin-top: 30px;
}


section {
    padding: 30px 30px;
    overflow: hidden;
}